<div class="container">
  <h3>New Subject</h3>
  <form action="/subjects/add" method="POST">
    
    <div class="form-group">
      <label for="fname">Subject Name</label>
      <input type="text" class="form-control" id="sname" name="subject_name" placeholder="Subject name..">
    </div>

    <input type="submit" value="Submit" class="btn btn-outline-success">
  </form>
</div>