<h3>New Subject</h3>

<div class="container">
  <form action="/subjects/add" method="POST">
    <label for="fname">Subject Name</label>
    <input type="text" id="sname" name="subject_name" placeholder="Subject name..">

    <input type="submit" value="Submit">
  </form>
</div>