<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add subjects</title>
</head>
<body>
    <h1>Add New Subject</h1> 
    <h4><a href="/subjects">Show All Subjects Data</a></h4>
    <br>
    <form action="/subjects/add" method="post">
        <label>Subject Name:</label><br>
        <input type="text" name="subjectname"> <br><br>
                
        <button type="submit">Submit</button>
    </form>
</body>
</html>
