<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Teacher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1 style="padding-left: 5%;">Add Data Teacher</h1>
    <form action="/teacher/add" method="POST" style="padding: 2% 5%;">
        <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="first name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput2">Last Name</label>
            <input name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="last name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput3">Email</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@school.id">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Gender</label>
            <select name="gender" class="form-control" id="exampleFormControlSelect1">
                <option>male</option>
                <option>female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href="/teacher" class="btn btn-outline-success my-2 my-sm-0" type="submit">Batal</a>
    </form>
</body>

</html>