<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Student | SMP Negeri 1 Tangerang</title>
  </head>
  <body>
    <h1>Edit student</h1>
    <a href="/students"><h3>View students data</h3></a>
        <form action="/students/<%= students[0].id %>/edit" method="POST">
          <input placeholder="first_name" type="text" name="first_name" required value="<%= students[0].first_name %>"><br>
          <input placeholder="last_name" type="text" name="last_name" required value="<%= students[0].last_name %>"><br>
          <input placeholder="email" type="text" name="email" required value="<%= students[0].email %>"><br>
          <button type="submit">Submit</button>
        </form>
  </body>
</html>