<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>School App</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4"><%= error %></h1> <!-- show content of error-->
        <p class="lead">Our school realised that not only education is nescessary but data management within our team are very important. Enjoy our latest school app with fast, simple, and real-time processing for a better data organizing.
        </p>
        <hr class="my-4">
        <p>We are very sorry for the inconvenience, please select button below to return to main page.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Go Back</a> <!-- back to home aja -->
      </div>
    
</body>
</html>