<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>SCHOOL APP HOME</h1>
    <ul>
        <li><a href="/students">Students Data</a></li>
        <li><a href="/teachers">Teachers Data</a></li>
        <li><a href="/subjects">Subjects Data</a></li>
    </ul>
    
</body>
</html>