<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>My School App</title> 
  </head> 
  <body> 
    <h1>Add New Student</h1> 
    <form action="/students/add" method="POST">
       <input type="text" name="first_name" placeholder="First Name" autofocus><br> 
       <input type="text" name="last_name" placeholder="Last Name"><br> 
       <input type="text" name="email" placeholder="Email"><br> 
       
          <button type="submit">Submit</button> 
        </form> 
        </body> 
      
    </html>