<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>My website</title>
</head>
<body>
    <div class="jumbotron">
        <% if(data.length) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Subject Name</th>
                    </tr>
            </thead>
            <tbody>
                <% data.forEach(element => { %>

                    <tr>
                        <th scope="row"><%= element.id %></th>
                        <td><%= element.subject_name %>></td>
                    </tr>
               <% }) %>
        </tbody>
    </table>
    <%}%>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Go To Home</a>
      </p>
</div>
</body>
</html>