<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subjects</title>
</head>
<body>
    <h1>Subjects Data</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Subject Name</th>
        </tr>
        <% data.forEach(el => { %>
        <tr>
         <td><%= el.id %> </td>
         <td><%= el.subject_name %> </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>