<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Subjects</title>
</head>
<body>
    <div class="container-sm  mt-5 px-5">
        <h1 class="text-center">Subject Data</h1>
        <div class="container-sm">
            <% if(data){ %>
                <table class="table table-striped  mt-5">
                    <thead>
                        <tr>
                            <% for(let key in data[0]){ %>
                                <th scope="col" class="text-center"><%= key %></th>    
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( list => { %>
                            <tr>
                                <td class="text-center"><%= list.id %></td>
                                <td class="text-center"><%= list.subject_name %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                    
                </table>
            <% } %>
        </div>
    </div>
    <div class="container text-center mt-5"><a href="/">Home</a></div>

</body>
</html>